################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/NLogger/v15/Server/sqlite3
/NLogger/obj/Debug
