<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  -->
<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
<!--
  <variable name="myvar" value="myvalue"/>

  -->
<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
<!--
  <targets>

    -->
<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
<!--

    -->
<!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
<!--
  </targets>

  <rules>
    -->
<!-- add your logging rules here -->
<!--

    -->
<!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
<!--
  </rules>
</nlog>-->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="D:\MilindPersonal\NLogger\NLogger\logs\tracelog" internalLogLevel="Trace" >

  
  <targets>
    <target name="file" xsi:type="File"
    layout="${message}|${var:user}"        
    fileName="D:\MilindPersonal\NLogger\NLogger\logs\log${date:format=dd-MM-yyyy}.log"/>
   

    <!--fileName="D:\MilindPersonal\NLogger\NLogger\logs\log${date:format=yyMMdd}.log"/>-->
    <!--maxArchiveFiles="4"
        archiveAboveSize="10240"
        archiveEvery="Day"-->

    <target name="gmail" xsi:type="Mail" html="true"
                     subject="HNG Trace Log Mail"
                     body="${message}"
                     to="milindrajput@webmynesystems.com"
                     from="bhanvadiyaankit007@gmail.com"
                     cc="milan@webmyne.com"
                     bcc="milan@webmynesystems.com"
                     encoding="UTF-8"
                     enableSsl="true"
                     smtpAuthentication="Basic"
                     smtpUserName="mildropbucket@gmail.com"
                     smtpPassword="milind4343"
                     smtpServer="smtp.gmail.com"
                     layout="${message}|${var:user}"
                     smtpPort="465"/>




    <!--<target name="gmail"
          xsi:type="Mail"
          smtpServer="smtp.gmail.com"
          smtpPort="587"
          smtpUserName="milind155"
          smtpPassword="cmkmmnsstb43"
          subject="${machinename} - My subject string (${shortdate:format=dd. MM. yyyy})"
          from="milind155@gmail.com"
          to="mildropbucket@gmail.com"
          layout="${longdate}   LEVEL=${uppercase:${level}},   LOCATION=${callsite:className=true:includeSourcePath=true:methodName=true},               
                  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />-->


    <!--<target xsi:type="Mail"
         name="gmail"
         header="Layout"
         footer="Layout"
         layout="Layout"
         html="Boolean"
         addNewLines="Boolean"
         replaceNewlineWithBrTagInHtml="Boolean"
         encoding="Encoding"
         subject="Layout"
         to="Layout"
         bcc="Layout"
         cc="milind155@gmail.com"
         from="milind155@gmail.com"
         body="Layout"
         smtpUserName="milind155"
         enableSsl="true"
         secureSocketOption="None|Auto|SslOnConnect|StartTls|StartTlsWhenAvailable"
         smtpPassword="Layout"
         smtpAuthentication="Enum"
         smtpServer="Layout"
         smtpPort="587"
         useSystemNetMailSettings="true"
         deliveryMethod="Enum"
         pickupDirectoryLocation="String"
         timeout="Integer"
         skipCertificateValidation="true"
 />-->
  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="file" />
    <logger name="*" level="Error" writeTo="gmail" />
    <!--<logger name="*" minlevel="Debug" writeTo="mail" />-->
  </rules>

  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
</nlog>
